dark-mode.css
/* 
  You can use prefers-color-scheme media query to detect user's color theme. 
  The easiest and best way to add Dark Mode to your project.
*/
:root {
  --color-text: black;
  --color-background: white;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --color-text: white;
    --color-background: black;
  }
}

/*
  But keep in mind that Dark Mode is not just changing black to white 
  but handling the contrast. This was just an example.
  You can also use "light".
*/
@media screen and (prefers-color-scheme: light) {
  :root {
    --color-text: black;
    --color-background: white;
  }
}
